:root {
  --primary-color: #7bb2ff;
}

.bar {
  padding: 16px 20px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  max-height: 100px;
  overflow: hiddens;
}

.title {
  margin: 0;
  cursor: pointer;
  color: white;
  font-size: 40px;
  font-weight: 800;
}
