.chartTitle {
  font-size: 16px;
  font-weight: bold;
  fill: var(--axis-color);
}

.menuBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  height: 50px;
  min-height: 50px;
  width: 100%;
  color: white;
}
