.chartBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  background-color: var(--primary-color);
  width: 100%;
  color: white;
}

.chartTitle {
  margin-left: 20px;
  font-weight: bold;
  font-size: x-large;
  text-anchor: middle;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 100%;
  right: 0px;
  padding-right: 10px;
  padding-left: 10px;
  background: var(--primary-color);
  align-items: center;
}

.dragHandle {
  display: flex;
  align-items: center;
  cursor: move;
  width: 100%;
  height: 100%;
}

.options {
  position: absolute;
  width: auto;
  min-width: 350px;
  max-width: 350px;
  right: -10px;
  top: 50px;
  max-height: 90%;
  font-size: 16px;
  overflow: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: white;
  z-index: 10;
}

.separator {
  height: 80%; /* altura de la barra */
  border-left: 2px solid white;
  margin: 0 8px; /* espacio a los lados de la barra */
}
