.viewContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;

  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.correlationContainer {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.editorContainer {
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.verticalLegendContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Distribution Charts */

.chartLegendContainer {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.distributionChart {
  width: 85%;
  height: 100%;
}

.chartContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.legend {
  width: 15%;
  height: 100%;
  display: flex;
  overflow: auto;
}

.legendSvg {
  display: block;
  overflow: visible;
}

.chartSvg {
  display: block;
  width: 100%;
  height: 100%;
}

.pwSvg {
  overflow: visible;
  display: block;
}

/* Hierarchy */

.hierarchyTooltip {
  position: absolute;
  background-color: white;
  display: flex;
  gap: 5px;
  flex-direction: row;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px;
}

.nodeInfo {
  position: absolute;
  top: 40px;
  right: 5px;
  color: var(--primary-color);
  max-height: 90%;
  border: 1px solid #ccc;
  background-color: white;
  width: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nodeInfoBody {
  color: var(--primary-color);
  overflow-y: auto;
  padding: 15px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
