:root {
  --secondary-color: black;
  --axis-color: #333;
  --axis-font-size: 16px;
  --chart-width: 100%;
  --chart-height: 100%;
}

.chartContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.correlationContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.chartAxis {
  font-size: large;
}

.correlationChart {
  width: 85%;
  height: 100%;
}

.correlationLegend {
  width: 15%;
  height: 100%;
}

.chartLegendContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.viewContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nodeInfo {
  position: absolute;
  top: 60px;
  right: 10px;
  color: var(--primary-color);
  max-height: 90%;
  border: 1px solid #ccc;
  overflow: scroll;
  background-color: white;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.legend {
  width: 15%;
  height: 100%;
  display: flex;
  overflow: auto;
}

.legendSvg {
  display: block;
  overflow: visible;
}

.distributionChart {
  width: 85%;
  height: 100%;
}

.chartSvg {
  display: block;
  width: 100%;
  height: 100%;
}

.chartSvg text {
  font-size: var(--axis-font-size);
}

.axis path,
.axis line {
  stroke: var(--axis-color);
  stroke-width: 1;
}

.axis text {
  font-size: var(--axis-font-size);
}

.zeroLine {
  stroke: var(--axis-color);
  stroke-dasharray: 4 2;
}

.ciLine {
  stroke: black;
  stroke-width: 2;
}

.effectBar {
  stroke: var(--axis-color);
  stroke-width: 1.5;
}

.cap {
  stroke: #333;
  stroke-width: 1.5px;
}

.effectPoint {
  fill: black;
}

.chartTitle {
  font-size: 16px;
  font-weight: bold;
  fill: var(--axis-color);
}

.axis {
  font-size: 18px;
}

.legend {
  font-size: 18px;
}

.hierarchyTooltip {
  position: absolute;
  background-color: white;
  display: flex;
  gap: 5px;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 1rem;
}
