.chartBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  height: 50px;
  min-height: 50px;
  width: 100%;
  color: white;
}

.chartTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
  font-size: xx-large;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  height: 100%;
  right: 10px;

  align-items: center;
}

.dragHandle {
  position: absolute;
  cursor: move;
  width: 100%;
  height: 100%;
}

.options {
  position: absolute;
  width: auto;
  right: 0;
  top: 50px;

  max-height: 40vh;
  font-size: 16px;
  overflow: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: white;
  z-index: 10;
}
